/*CSS de l'entete et endroit principal pour toute les animations du site...*/
.animation{
    display: flex;
    justify-content: space-between;

    &__bloc {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        color: #fff;
        font-size: 3rem;
        
        animation: anim-const 8s infinite;
        //animation-delay: anim-const 5s;
        &:hover{
            background-color: rgb(16, 230, 230);   
        }
    }
}

/* J'ai décidé de mettre toute mes animations ici parce que je n'ai pas bien compris
 comment mettre les animations dans le mixin (si c'était possible).*/

 /* ANIMATION NON-UTILISÉ */
/*@keyframes anim-entete {
    0% {
        transform: translateY(-100vh) rotate(-360deg);
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotate(0);
        opacity: 1;

    }
}*/

@keyframes anim-const { 

    0% {
        transform: rotate(30deg);
        background-color: rgb(30, 136, 136);

    }

    50% {
        transform: rotate(-30deg);
        background-color: orange;
    }

    100% {
        transform: rotate(30deg);
        background-color: rgb(30, 136, 136);

    }

}

/* Petite animation pour le logo */
@keyframes anim-logo {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}