/* ---------------- BACKGROUND */
$color__background-body : rgb(34, 0, 56);
$color__background-body-clip : rgb(185, 127, 0);
$color__background-main : hsl(268, 88, 36);
$color__background-cours : hsl(263, 87, 35);
$color__background-header : hsl(258, 86, 34);
$color__background-barre : hsl(243, 57, 50);
$color__background-footer : hsl(229, 83, 60);
$color__background-link : hsl(229, 83, 60);
$color__background-link-hover : hsl(309, 77, 40);

/* ----- La pluspart des couleurs dans le site sont plus bleuté et froide. Je ne sais pas 
pourquoi....mais je voulais utiliser des couleurs plutôt cOSmIqUES :O */

/* ---------------- LIENS */
$color__link : hsl(194, 85, 62);
$color__link-hover : rgb(42, 141, 172);
$color__link-visited : rgb(90, 240, 76);

/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(0, 91%, 50%);
$color__link__footer-hover : hsl(123, 80%, 49%);
$color__link__footer-visited : hsl(231, 84%, 50%);

/* ---------------- LIENS HEADER titre principal du site  */
$color__link__header : hsl(300, 63%, 33%);
$color__link__header-hover : hsl(123, 71%, 35%);
$color__link__header-visited : hsl(27, 82%, 52%);

/* Des couleurs plus bleue dans le footer, le mauve est toujours présent cependant.

/* ----------------- COULEUR MENU FOOTER -------------- */
$color__link__footer__menu : rgb(128, 193, 255);
$color__link__footer__menu-visited : rgb(68, 238, 133);
$color__link__footer__menu-hover : rgb(96, 111, 248);
$background__link__footer__menu : rgb(114, 184, 250);
$background__link__footer__menu-visited : rgb(142, 68, 238);
$background__link__footer__menu-hover : rgb(221, 157, 19);

/* À peu près les même cpuleurs que les backgrounds avec quelques variations....*/

/* ------------------- COULEUR MENU PRINCIPAL -------------- */ 
$color__link__menu__principal : rgb(234, 0, 255);
$color__link__menu__principal-visited : rgb(253, 152, 0);
$color__link__menu__principal-hover : rgb(175, 0, 190);
$background__link__menu__principal : rgb(153, 0, 255);
$background__link__menu__principal-visited : rgb(255, 153, 0);
$background__link__menu__principal-hover : rgb(148, 0, 161);

/* J'ai aussi rajouté des couleurs qui contraste le mieux avec le violet: le jaune orange, donc des couleurs plutot chaudes
mais en plus petite quantité.

/* ---------------- FONT */
$color__font-header : rgb(42, 141, 172);
$color__font-main :hsl(194, 85, 62);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : rgb(255, 202, 188);

/* Fonts de couleur... blanche, bleue et oranges parce qu'elles vont bin avec le thème. */

/* ------------------- COULEUR BOUTTON MENU-CATEGORIE COURS -------------- */ 
$color__bouton__color : rgb(234, 0, 255);
$color__bouton__background : rgb(253, 152, 0);
$color__bouton__color--hover : rgb(132, 0, 255);
$color__bouton__background--hover : rgb(253, 194, 0);
$color__bouton__color--current : rgb(88, 0, 170);
$color__bouton__background--current: rgb(189, 128, 15);

/* ------------------- COULEUR TITRE -------------- */ 
$color__titre_principal : rgb(34, 0, 56);
$color__titre_secondaire : rgb(73, 0, 122);
$color__titre_ternaire : rgb(111, 0, 185);
$color__titre_paragraphe : rgb(152, 2, 251);

/* ---------------------- CARTE D'ACCUEIL EVENEMENT ------------------------------------------------ */
$couleur__carte__evenement: rgb(117, 21, 207);
$couleur__carte__evenement__background: rgb(207, 188, 21);
$couleur__carte__evenement--hover: rgb(73, 15, 128);
$couleur__carte__evenement__background--hover: rgb(145, 125, 11);

/* ---------------------- CARTE D'ACCUEIL ATELIER ----------------------------- */
$couleur__carte__atelier: rgb(151, 203, 245);
$couleur__carte__atelier__background: rgb(211, 255, 67);
$couleur__carte__atelier--hover: rgb(67, 131, 173);
$couleur__carte__atelier__background--hover: rgb(121, 144, 20);
