/* Je l'ai mis en vw parce que sinon la largeur était très inconsistente*/
$size__site-barre : 15vw;

/* ------------------------------------- points de rupture des media queries */
$largeur__media--mobile : 500px;
$largeur__media--tablette : 800px;
$largeur__media--desktop : 1100px;
$largeur__media--desktop--two : 1600px;