/* Les deux calligraphies principaux du site */
$font__main : 'Work Sans', sans-serif;
$font__titre : 'Fredoka', sans-serif;

$font__titre_principal: 'Fredoka', sans-serif;
$font__titre_secondaire: 'Work Sans', sans-serif; //// A RAJOUTER UN NOUVEAU FONT //////
$font__titre_ternaire: 'Work Sans', sans-serif; ///////////
$font_paragraphe: 'Work Sans', sans-serif; ///////////



