/* Fichier pour le site en général, pricipalement pour la page de la liste des cours. */
.site__main {
    margin: 20px;
    padding: 10px 15px;
    background-color: $color__background-main;
    border-radius: 5px;
    box-shadow: rgb(57, 68, 62) 1px -1px 10px;
}

.formation {
    display: flex;
    flex-direction: column;

    &__titre {
        font-size: 2rem;
        color: $color__font-main;
        margin: 0 10px 0 10px;
        font-family: $font__titre;
    }
    &__liste {
        display: flex;
        flex-wrap: wrap;
    }
    
    /* pour chacune des fiches de cours */
    &__cours {
        background-repeat: no-repeat;
        background-position: 97% 3%;
        background-color: $color__background-cours;
        box-shadow: rgb(57, 64, 68) 1px -1px 10px;
        border: 2px solid $color__background-link;
        border-radius: 5px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        transition : transform .3s;
        transform : scale(1);
        /* On les augmentes et diminues dépendament de la grandeur de l'écran */
        @media screen and (min-width : $largeur__media--tablette){
            width: 45%;
        }
        @media screen and (min-width : $largeur__media--desktop){
            width: 30%;
        }
        padding: 10px;
    }

    &__cours:hover {
        transform: scale(0.97);
        background-color: $color__background-footer;
        border: 2px solid $color__background-body-clip;
        
    }



}
/* pour les textes dans les blocs de cours */

.cours__titre {
    font-size: 1rem;
    color: $color__font-main;
    margin: 5px 0px;
    @media screen and (min-width : $largeur__media--desktop) {
        font-size: 1.5rem;
    }
}

.cours__sigle {
    font-size: 1rem;
    color: rgb(138, 83, 83);
    margin: 3px;
}

.cours__nbre-heure {
    font-size: 1rem;
    margin: 3px;
}

.cours__desc {
    font-size: 1rem;
    border: 1px solid $color__background-link;
    background-color: $color__background-header;
    color: $color__font-main;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0;
}

.cours__texte {
    margin-left: 1rem;
}

.cours__info {
    display: flex;
}

.cours__main__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.web{
    background-image: url('https://s2.svgbox.net/hero-solid.svg?ic=globe-alt');
    background-size: 40px 40px;
}
.jeu{
    background-image: url('https://s2.svgbox.net/materialui.svg?ic=games');
    background-size: 40px 40px;
}
.comm {
    background-image: url('https://s2.svgbox.net/octicons.svg?ic=users');
    background-size: 40px 40px;
}
.design {
    background-image: url('https://s2.svgbox.net/materialui.svg?ic=color_lens');
    background-size: 40px 40px;
    // 3d https://s2.svgbox.net/materialui.svg?ic=view_in_ar
    // palette peinture https://s2.svgbox.net/materialui.svg?ic=color_lens
    // image https://s2.svgbox.net/octicons.svg?ic=image
}
.utilitaire{
    background-image: url('https://s2.svgbox.net/octicons.svg?ic=tools-bold');
    background-size: 40px 40px;
 
}
.video {
    background-image: url('https://s2.svgbox.net/octicons.svg?ic=device-camera-video');
    background-size: 40px 40px;

    //https://s2.svgbox.net/materialui.svg?ic=movie
    //camera https://s2.svgbox.net/materialui.svg?ic=voice_chat
    // camera video https://s2.svgbox.net/octicons.svg?ic=device-camera-video
    // video https://s2.svgbox.net/materialui.svg?ic=duo
}
.creation-3d {
    background-image: url('https://s2.svgbox.net/materialui.svg?ic=view_in_ar');
    background-size: 40px 40px;
    
}