/* Fichier dédié au footer */
.site__footer {
    font-family: $font__titre;
    background-color: $color__background-footer;
    padding: 15px;
  /* Pour les colonnes / widjets*/
    &__colonne { //.site__footer__colonne
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      section { // .site__footer__colonne section
        flex: 0 0 30%;
        background-color: $color__background-barre;
        border-radius: 10px;
        padding: 5px;
        transition: .3s;
          &:hover{
            background-color: $color__background-header;
            border: 3px solid $color__font-footer;
            cursor: pointer;
          }
      }
      .footer__article, .footer__lien, .footer__adresse {
        margin-top: 15px;
        margin-bottom: 15px;

        @media screen and (min-width : $largeur__media--tablette){
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      
      @media screen and (min-width : $largeur__media--tablette){
        flex-direction: row;
      
    }
    }

    /*texte et avis dans le footer */
    &__ligne { // .site__footer__ligne
      display: grid;
      flex-direction: column;
      align-items: center;
      text-align: center;
     
 }
}
/* menu du menu */
.footer__menu {
    background-color: #2f0080;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;

  &__nav{ // .site__footer__nav

    &__ul{ // .site__footer__nav__ul
        display : flex;
        list-style-type: none;
        justify-content: center;
        .menu-item{ // .site__footer__menu__ul .menu-item
            margin : 10px 5px;
          a{ // .site__footer__menu__ul .menu-item a
            display : flex;
            align-items: center;
            padding : 3px;
            svg { // .site__footer__menu__ul .menu-item a svg
              color: $color__link__footer;
            }
          }
          &:hover {
            svg { // .site__footer__menu__ul .menu-item a svg
              color: $color__link__footer-hover;
            }
          }
        }
    }
  }
}
/* autres partie du footer (desc, auteur, copyright...)*/
.footer__description {
  background-color: #2f0080;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

#block-14 {
  margin: 10px;
}

#block-16 {
  color: white;
}

.owner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:#2f0080;
  color: white;
  border-radius: 10px;

}

/* Pour les liens/icones dans le footer */ /* Désolé ! J'étais obligé d'utiliser 
!important....je sais que ce n'est pas la meilleur idée mais c'étais le seul moyen que ca marchait...*/
.cidw__icone__sociaux   .wp-social-link {
    margin: 20px 30px 20px 20px !important;
    transform: scale(1.5);
    /*background: #9B51E0 ;*/
    &:hover {
      border: 1px solid white;
    }
}

.cidw__icone__sociaux  {
    background-color: $color__background-barre;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: .3s;
    /* Trucs pour rendre la séléction plus.... elégante :)*/
    &:hover {
      background-color: $color__background-header;
      border: 3px solid white;
    }
}

