.menu-accueil-container, .menu-evenement-container { // permet d'acceder le nav

    border: 3px solid $color__bouton__color;
    border-radius: 20px;
    
    .menu{ // Permet d'acceder le ul
        display: flex;
        justify-content: space-around;
        .accueil__cours .menu-item-icone{
            background-image: url("https://s2.svgbox.net/octicons.svg?ic=book-bold");
        }
        .accueil__bidon .menu-item-icone{
            background-image: url(https://s2.svgbox.net/octicons.svg?ic=beaker-bold);

        }
        .accueil__aide .menu-item-icone{
            background-image: url(https://s2.svgbox.net/octicons.svg?ic=bug-bold);

        }
        .accueil__adresse .menu-item-icone{
            background-image: url(https://s2.svgbox.net/octicons.svg?ic=archive-bold);

        }


        .menu-item{ //li
            width: 92%;
            height: 20vh;
            //background-color: $color__bouton__background;
            border-radius: 10px;
            margin: 20px;
            a{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                //color: $color__bouton__color;
               
                font-size: 1rem;
                border-radius: 10px;
                transform-origin: right;
                .menu-item-description { // span
                    font-size: 0.8rem;
                    
                }
                .menu-item-icone {
                    margin: 10px;
                    width: 2rem;
                    height: 2rem;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }
        &:hover{
        }
        
        
        }



        
    }

} 

.menu-accueil-container {
    .menu-item {
        background-color: $color__bouton__background;
        a{
            color: $color__bouton__color;
            &:hover{
                color: $color__bouton__color;
            }
        }
        &:hover{
            background-color: $color__bouton__background--hover;
            a{
                color: $color__bouton__color--hover;
            }
        }
    }
}

.menu-evenement-container {
        
    .menu-item {
        background-color: rgb(139, 170, 0);
        a{
            color: $couleur__carte__evenement;
            &:hover{
                color: $couleur__carte__evenement--hover;
            }
        }
        &:hover{
            background-color: $couleur__carte__evenement__background;
            a{
                color: $couleur__carte__evenement__background--hover;
            }
        }
    }
}

@media screen and (max-width : $largeur__media--tablette){

    .menu {
        flex-direction: column;
    }

    .menu-item {
        width: 40%;
    }
}