/* Fichier pour les objets de navigation */
#burger {
    position : absolute;
    transition : transform .3s;
    transform : rotate(0);
}

#chk-burger {
    display: none;
}

#chk-burger:checked ~ #burger {
    transform : rotate(90deg);
}

.menu-principal-container {
    display : none;
    font-family: $font__titre;
    font-size: 1.1rem;
}
#chk-burger:checked ~ .menu-principal-container{
    display : block;
}


.menu-principal-container{
    padding: 30px 0 0 0;
}
.menu{
    list-style-type: none;
    /*margin : 10px 10px 10px 0;*/
    padding :0;
    
}
/* Pour les différentes selections du site */
.menu-item{
    margin:0;
    padding : 0;
    a{
        display : block;
        text-decoration: none;
        padding : 4px;
        transition : transform .3s;
            
        &:hover { /* IL FAUDRAIT SPÉCIFIER QUE C SEULEMENT POUR LE MENU DU HEADER */
            transform: scale(1.05) translateX(8px); /* NE MARCHE PAS A RÉPARER */
            border : 2px solid $color__background-body-clip;
        }
    }
}
/*Pour les items dans le bas du footer */


@media screen and (min-width : $largeur__media--tablette){
    
    .menu {
        margin : 0 10px 10px 0;
    }

    .menu-item {
        margin-top: 5px;
    }

    .site .menu-principal-container {
        display : block;
        padding: 0;
        font-size: 1.1rem;
        
    }

    .site #burger {
        display : none;
    }

    /*
    .home #burger {
        display : none;
    }
    .home .menu-principal-container {
        display : block;
    }*/
    

}








